<header class = "round">
    <nav class= "round">
    	<ul>
    		<%= link_to "Home", root_path %>
    		<%= link_to "About", pages_about_path %>
    		<%= link_to "Sign in", pages_sign_in_path %>
        </ul>
    </nav>
    </header>